.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $black-pearl;
  overflow: hidden;
}

.footer__block {
  max-width: 1320px;
  flex: 1;
}

.footer__logos {
  @media (max-width: $vp-1023) {
    display: flex;
    margin-right: -5px;
    justify-content: space-between;
    margin-bottom: 27px;
    padding-right: 25px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    padding-left: 25px;
    padding-right: 37px;
    padding-top: 35px;
  }
}

.footer__logo-link:hover {
  opacity: 0.8;
}

.footer__logo-link:focus {
  opacity: 0.8;
}

.footer__logo-link:active {
  opacity: 0.6;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 56px;
  padding: 0 50px;
  padding-top: 45px;
  padding-bottom: 55px;

  @media (max-width: $vp-1023) {
    padding: 0 25px;
    padding-top: 50px;
    display: block;
    padding-left: 50px;
    padding-bottom: 58px;
  }

  @media (max-width: $vp-767) {
    padding: 0;
  }
}

.footer__logo-link {
  margin-bottom: 35px;
  display: block;
  cursor: pointer;
  user-select: none;

  @media (max-width: $vp-1023) {
    margin-bottom: 0;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 10px;
  }
}

.footer__socials-link {
  display: flex;
  padding: 5px;

  @media (max-width: $vp-1023) {
    height: min-content;
  }
}

.footer__socials-link:hover {
  opacity: 0.8;
}

.footer__socials-link:focus {
  opacity: 0.8;
}

.footer__socials-link:active {
  opacity: 0.6;
}

.footer__socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: fit-content;
  margin-left: 10px;

  @media (max-width: $vp-1023) {
    padding-top: 5px;
  }
}

.footer__accordion-wrapper {
  @media (max-width: $vp-767) {
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}
