.modal {
  background-color: $modal-background;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal.is-active {
  visibility: visible;
}

.modal__overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  overflow: hidden;
}

.modal__content {
  width: 500px;
  padding: 40px;
  background-color: $deep-sky-blue;
  position: relative;
  margin-top: 63px;
  padding-top: 35px;
  padding-bottom: 44px;
  margin-right: 17px;
  border-radius: 3px;
}

.modal__close-btn {
  background-color: transparent;
  background-image: url("../img/svg/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 10px;
  top: 24px;
  right: 24px;
  position: absolute;
  border: none;
  cursor: pointer;
}

.modal__content p {
  font-family: $mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-bottom: 39px;
  margin-top: 0;
}

.modal__content h3 {
  font-family: $roboto;
  font-weight: 400;
  font-size: 30px;
  line-height: 140.62%;
  color: $color-default-white;
  margin-bottom: 5px;
  margin-top: 0;
}

.modal__content input:not(input[type="checkbox"]) {
  border: none;
  background: $form-gradient;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  color: $color-default-white;
}

.modal__content textarea {
  background: $form-gradient;
  border-radius: 3px;
  padding: 25px 15px;
  width: 100%;
  height: 155px;
  border: none;
  color: $color-default-white;
}

.modal__content textarea::placeholder {
  font-family: $mono;
  color: $color-default-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.modal__content input::placeholder {
  font-family: $mono;
  color: $color-default-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.modal__content textarea:hover {
  background-color: $form-background;
  opacity: 0.8;
}

.modal__content textarea:focus {
  background-color: $form-background;
  opacity: 0.8;
}

.modal__content textarea:active {
  background-color: $form-background;
  opacity: 0.6;
}

.modal__content input:not(input[type="checkbox"]):hover {
  background-color: $form-background;
  opacity: 0.8;
}

.modal__content input:not(input[type="checkbox"]):focus {
  background-color: $form-background;
  opacity: 0.8;
}

.modal__content input:not(input[type="checkbox"]):active {
  background-color: $form-background;
  opacity: 0.6;
}

.modal-form__button {
  background: $black-pearl;
  border-radius: 3px;
  padding: 13px 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: $roboto;
  color: $color-default-white;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
}

.modal-form__button:hover {
  opacity: 0.8;
}

.modal-form__button:focus {
  opacity: 0.8;
}

.modal-form__button:active {
  opacity: 0.6;
}

.modal-form__checkbox label {
  display: flex;
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  font-family: $mono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}

.modal-form__checkbox {
  padding-left: 10px;
}

.modal-form__checkbox input::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form__checkbox input:checked::after {
  content: "";
  position: absolute;
  background-image: url("../img/svg/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  left: 0;
}

.modal-form__checkbox input {
  appearance: none;
}


.modal-form__checkbox input:focus::after {
  outline: 1px solid black;
  opacity: 0.6;
}

.modal-form__checkbox input:focus+span {
  opacity: 0.6;
}

.modal-form__input-container {
  position: relative;
}

.modal-form__name .input-message {
  position: absolute;
  top: 45px;
}

.modal-form__tel .input-message {
  position: absolute;
  top: 114px;
}

