.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $black-pearl;
  overflow: hidden;
  // height: min-content;
}

.footer__block {
  max-width: 1320px;
  flex: 1;
}

.footer__logos {
  @media (max-width: $vp-1023) {
    display: flex;
    margin-right: -5px;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.footer__logo-link:hover {
  opacity: 0.8;
}

.footer__logo-link:focus {
  opacity: 0.8;
}

.footer__logo-link:active {
  opacity: 0.6;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 50px;

  @media (max-width: $vp-1023) {
    padding: 0 25px;
    padding-top: 50px;
    display: block;
  }

  // @media (max-width: $vp-767) {
  //     // padding: 0;
  //     // padding-top: 50px;
  // }
}

// .footer__logo {
//     flex: 1;
// }

// .footer__accordion-wrapper {
//     flex: 2;
// }

.footer__logo-link {
  margin-bottom: 25px;
  display: block;
  cursor: pointer;

  @media (max-width: $vp-1023) {
    margin-bottom: 0;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 15px;
  }
}

.footer__socials-link {
  display: flex;
  padding: 5px;
}

.footer__socials-link:hover {
  opacity: 0.8;
}

.footer__socials-link:focus {
  opacity: 0.8;
}

.footer__socials-link:active {
  opacity: 0.6;
}

.footer__socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: fit-content;
  margin-left: 10px;
}

// .footer__accordion-wrapper {

//     @media (max-width: $vp-767) {
//         padding-left: 25px;
//         padding-right: 25px;
//     }
// }
